@import 'assets/external'

@a: 1px;
@a2: 10px - 9;
@b: bar;
@c1: #fc0;
@c1_1: #fb0;
@c2: #aaa;
@c3: darken(#fc0, 0.1);


.mx {
	c: d;
}

.mx(@aa: 2) {
	g: @aa;
	.inner {
		h: @aa + 1;
	}
}

.mx2() {
	e: f;
}

.foo {
	@baz: 100%;
	padding: @a + 1;

	.bar1 {
		a: b;
	}

	.bar2& {
		@a: 4px;
		padding: @a + 1;
	}

	&.bar3, &.bar4 {
		a: b;
	}

	@{b} {
		a: b;
	}

	.mx;
	.mx2;
}

.color {
	v1: #fff;
	v2: #fc1;
	v3: #cca000;
}

.props {
	padding: 1px;
}