@import 'assets/external';

$a: 1px;
$a2: 10px - 9;
$b: bar;
$c1: #fc0;
$c1_1: #fb0;
$c2: #aaa;
$c3: darken(#fc0, 0.1);

@mixin mx($a: 2) {
	g: $a;
	.inner {
		h: $a + 1;
	}
}

@mixin mx2 {
	e: f;
}

.foo {
	$baz: 100%;
	padding: $a + 1;

	.bar1 {
		a: b;
	}

	&.bar3, &.bar4 {
		a: b;
	}

	#{$b} {
		a: b;
	}

	@include mx;
	@include mx2;
}

.color {
	v1: #fff;
	v2: #fc1;
	v3: #cca000;
}

.props {
	padding: 1px;
}

@function foo() {
  @return 1 + 2;
}

@function plus($var1, $var2) {
  @return $var1 + $var2;
}

bar2 {
  a: foo();
  b: plus(1, 2);
}